body{
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    list-style-type: none;
    overflow: hidden;
    margin-right: 16px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: -15px;
}

.top-left {
    font-family: arial, sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    margin: 16px;
}

.headerli a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
    align-items: center;
}

.pic img{
    border-radius: center;
    width: 32px;
    height: 32px;
}

.container {
    text-align: center;
    margin: 160px 0 100px 0;
}

.search-area {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    margin-top: -75px;
    width: 480px;
    border-radius: 50px;
}

.search-area:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.search{
    flex: 1;
    display: flex;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
}

.search-img {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-img span {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    margin-top: 0px;
    display: inline-block;
    fill: currentColor;
    line-height: 24px;

}

.micDiv {
    display: flex;
    align-items: center;
}

.mic {
    width: 24px;
    margin-bottom: 3px;
    margin-right: 8px;
}

.input-enter {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.input-area{
    color: transparent;
    flex: 100%;
    white-space: pre;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    display: block;
    outline: none;
}

.input {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -68px;
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    border: 0px;
    width: 100%;
    cursor: text;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px;
}

.googlesearch:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.feelinglucky:hover {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.24);
}

.googlesearch {
    margin-top: 13px;
    text-align: center;
    cursor: pointer;
    height: 36px;
    user-select: none;
    margin-right: 12px;
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
}

.feelinglucky {
    margin-top: 13px;
    text-align: center;
    cursor: pointer;
    height: 36px;
    user-select: none;
    background-color: #f2f2f2;
    color: #5f6368;
    font-size: 14px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
}

.footer {
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #dfe1e5;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
    background-color: #f2f2f2;
    list-style-type: none;
    font-size: medium;
}

.footerli {
    float: left;
}

.footerli a {
    display: flex;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -20px;
}

.footerli a:hover {
    text-decoration: underline;
}